# Set container runner {podman,docker,nerdctl}
export RUNNER=podman

# LOAD ENVIRONMENT VARIABLES
[[ -f $PWD/.env ]] && eval $(cat .env | grep 'DB_' | sed 's/^/export /')

# PSQL
export PGPASSWORD="$DB_PASSWORD"
